---
layout: default2
title: About
permalink: /about/
pic: about
color: '#474D5A'
---
<div class="container">
  <div class="row mb-5 text-center">
    <div class="col-12 col-sm-6 my-auto pt-5">
      <img class="img-fluid" src="../assets/images/photos/IMG_0947.JPEG">
    </div>
    <div class="col-12 col-sm-6 my-auto pt-5">
        <h1>More about Us</h1>
        <p>The student chapter of the Power and Energy Society at Cal Poly San Luis Obispo strives to provide its members with knowledge and experience with technological developments in the electric power industry. Our goal is to develop the professionalism required for future internship and employment opportunities. We provide educational opportunities such as industry tours, information sessions, and technical talks. </p>
        <!-- <a href="/about" class="alink shadow btn btn-primary rounded-pill px-4 py-2">Learn More
          arrow icon
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 8 8">
            <path class="arrow" d="M5 0v2h-5v1h5v2l3-2.53-3-2.47z" transform="translate(0 1)"/>
          </svg>
        </a> -->
    </div>
  </div>
</div>

<div class="container my-5">
  <h1 class="text-center mb-5">Contact Info </h1>
{% for contact in site.data.contacts %}    

  <div class="row">
    <div class="col-md-6">
      <h4 class="text-center">{{contact.name}}</h3>
    </div>
    <div class="col-md-6">
      <a class="link" href="mailto:{{contact.email}}"><h5 class="fw-normal">Email: {{contact.email}}</h4></a>
    </div>
  </div>
{% endfor %}
</div>




<div style="background-color: #004020;">
  <div class="container text-white py-5">
    <div class="row flex-wrap text-center justify-content-center">
      {% for officer in site.data.officers %}
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="offCard"> 
            <h5 class="pt-2">{{officer.name}}</h5>
            <div class="imgcontainer">
              <img class="card-img" src="../assets/images/officerPhotos/{{officer.image}}" alt="{{officer.name}}">
              <h6 class="offCardsub">{{officer.position}}</h6>
            </div>
            <p class="card-text p-4">{{officer.description}}</p>
          </div>
        </div>
      {% endfor %}
      <!-- <div class="col-lg-4 col-md-6 mb-5">
        <div class="offCard"> 
          <h5 class="pt-2">Dr. Majid Poshtan</h5>
          <div class="imgcontainer">
            <img class="card-img" src="../assets/images/officerPhotos/Majid.Poshtan-EE.jpg" alt="">
            <h6 class="offCardsub ">Advisor</h6>
          </div>
          <p class="card-text p-4">Description coming soon</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="offCard"> 
          <h5 class="pt-2">Alec</h5>
          <div class="imgcontainer">
            <img class="card-img" src="../assets/images/officerPhotos/Alec.JPG" alt="Alec">
            <h6 class="offCardsub ">Vice-President</h6>
          </div>
          <p class="card-text p-4"></p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="offCard"> 
          <h5 class="pt-2">Carlo</h5>
          <div class="imgcontainer">
            <img class="card-img" src="../assets/images/officerPhotos/Carlo.jpeg" alt="Carlo">
            <h6 class="offCardsub ">Treasurer</h6>
          </div>
          <p class="card-text p-4">Hi everyone! I am the Treasurer of the Power and Energy Society club. My area of focus I am studying for is in power distribution and renewable energy. It is important to me that I am passionate in the field I want to work in: What's better than bringing light to people's homes?</p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="offCard"> 
          <h5 class="pt-2">Thomas To</h5>
          <div class="imgcontainer">
            <img class="card-img" src="../assets/images/officerPhotos/Thomas.JPG" alt="Thomas To">
            <h6 class="offCardsub">Website Manager</h6>
          </div>
          <p class="card-text p-4">Hi everyone! I am a first year interested in studying power in order to go into the renewable energy field! I joined PES in order to explore all the different opportunities in power and energy, as well as to network with both upperclassman as well as many notable companies that PES is in contact with. I am excited to be able to contribute to the club!</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="offCard"> 
          <h5 class="pt-2">Justin</h5>
          <div class="imgcontainer">
            <img class="card-img" src="../assets/images/officerPhotos/Justin.JPG" alt="Justin">
            <h6 class="offCardsub">Secretary</h6>
          </div>
          <p class="card-text p-4">Description coming soon</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="offCard"> 
          <h5 class="pt-2">Kian </h5>
          <div class="imgcontainer">
            <img class="card-img" src="../assets/images/officerPhotos/Kian.JPG" alt="Kian">
            <h6 class="offCardsub">Events Coordinator</h6>
          </div>
          <p class="card-text p-4">Description coming soon</p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="offCard"> 
          <h5 class="pt-2">Niel</h5>
          <div class="imgcontainer">
            <img class="card-img" src="../assets/images/officerPhotos/Neil.JPG" alt="Adrian Vo">
            <h6 class="offCardsub">Event Coordinator</h6>
          </div>
          <p class="card-text p-4">Description coming soon/p>
        </div>
      </div>     -->

    </div>  
  </div>
</div>